NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_
SUPABASE_SECRET_KEY=sb_secret_

CHILD_SUPABASE_URL=
CHILD_SUPABASE_SECRET_KEY=sb_secret_

NEXT_PUBLIC_EMAIL_SENDER_URL=
SENDER_BROADCAST_EMAIL=
REPLY_TO_EMAIL=

NEXT_PUBLIC_USER_WEBSITE=

INTERNAL_API_KEY=

OPENAI_API_KEY=

SNS_ACCESS_KEY_ID=
SNS_SECRET_ACCESS_KEY=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=

MAPBOX_ACCESS_TOKEN=

BRIDGE_URL=
BRIDGE_API_KEY=
